extends  ./layout/base

block content 
    table 
        thead 
            tr 
                th 번호
                th 제목
                th 작성자
                th 작성일
                th 조회
        tbody 
             each review in reviews
                tr 
                    td 1
                    td 
                        a(href=`${review._id}`)=review.bookTitle  
                    td=review.username 
                    td=new Date(review.date).toLocaleString()
                    td=review.views